mat-toolbar {
  align-items: center;
  justify-content: flex-start;
  mat-icon {
    width: 180px;
  }
  div {
    margin: auto;
    font-size: 1rem;
    a {
      text-transform: uppercase;
      &.active {
        color: #c770e1;
        font-weight: bold;
      }
    }
  }
}
