mat-toolbar {
  align-items: center;
  justify-content: flex-start;
  mat-icon {
    width: 180px;
  }
  div {
    margin: auto;
    a {
      text-transform: capitalize;
      &.active {
        color: #c770e1;
        font-weight: bold;
      }
    }
  }
}
